[submodule "LexUtils"]
	path = LexUtils
	url = https://github.com/Lexteam/Utils.git
[submodule "Core"]
	path = Core
	url = https://gitlab.com/lex-game/Core.git
[submodule "Engine"]
	path = Engine
	url = https://gitlab.com/lex-game/Engine.git
